
.detalle{
    display:flex;
    flex-direction: row;
}

.imagen{
    position:relative;
    img{
        width:250px;
    }


}

.gluten{
    max-width:50px;
    position: absolute;
    top:0;
    right:0;
}

.ingredientes{
    padding-left: 20px;
}

span.label{
    float:right;
    margin-top: 5px;
}

span.cocinero{
    font-weight: 600;
}

.descripcion{

    padding-top:30px;
}