
<div class="detalle">

  <div class="imagen">
    <img src="{{receta.foto}}" alt="{{receta.nombre}}">
    <img class="gluten" *ngIf="receta.isGlutenFree" src="../../../assets/img/gluten_free_icon.png" alt="sin gluten">
    <img class="gluten" *ngIf="!receta.isGlutenFree" src="../../../assets/img/gluten_icon.png" alt="con gluten">
    <hr>
  </div>

  <div class="ingredientes">
    <h3>Ingredientes:</h3> 
    <ul>
        <li *ngFor="let ingrediente of receta.ingredientes">{{ingrediente}}</li>
      </ul>
  </div>

</div>
<span class="cocinero">Cocinero: {{receta.cocinero}}</span>
<span class="label label-primary">Likes {{receta.likes}}</span>


<div class="descripcion">
    <hr>
<h3>Descripción:</h3>

<p>{{receta.descripcion}}</p>
</div>