<a href="https://angular.io/guide/structural-directives" target="_blank">Estructuras para plantillas</a>
<br>
<br>
<button (click)="switchUser()">Switch User</button>
<br>
<br>

<!--

<div *ngIf="admin">
  <span class="label label-warning">Administrador</span>
</div>

<div *ngIf="!admin">
  <span class="label label-default">Usuario</span>
</div>

EL CODIGO EQUIVALENTE A ESTE USANDO TEMPLATES SERIA EL SIGUIENTE: -->

<div *ngIf="admin; then adminTemplate else userTemplate"></div>


<ng-template #adminTemplate>
  <span class="label label-warning">Administrador</span>
</ng-template>

<ng-template #userTemplate>
  <span class="label label-default">Usuario</span>
</ng-template>
<br>
<br>