<div id="todos">
  <section>
    <h2>Lista de tareas</h2>
    <hr>

    <input class="nuevo" type="text" [(ngModel)]="nuevaTarea" placeholder="Nueva Tarea">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addTarea()"></span>
    <br>
    <br>

    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" [checked]="todo.completed" (click)="cambiarEstado(todo)"><span [class.tachado]="todo.completed">id.{{todo.id}}-{{todo.title}}</span>
        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="eliminarTarea(todo)"></span>
      </li>

    </ul>
  </section>

</div>
