<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalReceta">
  Añade tu propia receta
</button>

<!-- Modal -->
<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nueva receta</h4>
      </div>
      <div class="modal-body">
        <p>Valores: {{formulario.value | json}}</p>
        <p>Estado: {{formulario.status | json}}</p>
        <hr>

          <form [formGroup]="formulario" (ngSubmit)="sumitar($event)" novalidate>

            <div class="row">
              <div class="col-xs-6">
                <div [ngClass]="estilosInput(formulario.controls.nombre)">
                  <label for="nombre" class="control-label">Nombre:</label>
                  <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                  <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="text-danger">* Obligarorio, mínimo 2 letras</p>
                </div>

                <div [ngClass]="estilosInput(formulario.controls.cocinero)">
                  <label for="cocinero" class="control-label">cocinero:</label>
                  <input class="form-control" type="text" formControlName="cocinero" placeholder="cocinero">
                  <p *ngIf="formulario.controls.cocinero.invalid && formulario.controls.cocinero.touched" class="text-danger">* Opcional, mínimo 5 letras</p>
                </div>

                <div class="form-group">
                  <label for="gluten">Contiene Gluten:</label>
                  <br>
                  <input type="radio" formControlName="gluten" value="si"> Sí
                  <br>
                  <input type="radio" formControlName="gluten" value="no"> No
                  <br>
                </div>

              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label for="foto">Foto:</label> <br>
                  <img class="thumb" src="{{formulario.controls.foto.value}}" alt="Imagen de receta">
                  <input class="urlfoto" type="text" formControlName="foto" placeholder="Foto">
                  <p *ngIf="formulario.controls.foto.invalid && formulario.controls.foto.touched" class="text-danger">* La url de la imagen es OBLIGATORIA</p>
                </div>
              </div>

            </div>

            

            <div class="row">
              <div class="col-xs-12">

                  <label for="">Ingredientes </label>
                  <a (click)="clickOtroIngrediente()">Añadir Ingrediente</a>
                  <div formArrayName="ingredientes"
                      *ngFor="let ingrediente of formulario.get('ingredientes').controls; let i = index;">                    
                      <div [formGroupName]="i">
                          <input formControlName="nombre" placeholder="Nuevo Ingrediente" class="ingrediente-input">                        
                          <span class="glyphicon glyphicon-remove-circle" (click)="clickEliminarIngrediente(i)"></span>
                      </div>                   
                  </div>
                
  
                <div [ngClass]="estilosInput(formulario.controls.descripcion)">
                    <label for="descripcion" class="control-label">Descripcion:</label><br>
                    <textarea class="form-control" formControlName="descripcion" cols="70" rows="10"></textarea>
                  </div>
                </div>
            </div>




            <input type="submit" [disabled]="!formulario.valid" class="btn btn-success" value="crear">


          </form>



      </div>
    </div>
  </div>
</div>
