p{
    font-size: 5em;
    color:#C3002F;
}

.fondo{

    position: relative;
    min-width: 500px;
    min-height: 368px;
    background-image: url("http://letraslibertarias.com/assets/images/uploads/00e2d6abe641296ffd24cfe0820344ed.jpg")
}